@{
    ViewData["Title"] = "Home Page";
}

<button>Create order</button>
<table>
    <tr>
        <th>Order number</th>
        <th>Provider</th>
        <th>Date</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>52359</td>
        <td>Washington Co.</td>
        <td>16.02.2004</td>
        <td>1518$</td>
        <td><button>Edit</button></td>
        <td><button>Delete</button></td>
    </tr>
</table>
