@model IEnumerable<Order>
@{
    //ViewData["Title"] = "Home Page";
}

<button>Create order</button>
<table>
    <tr>
        <th>Order number</th>
        <th>Provider</th>
        <th>Date</th>
    </tr>
    @foreach (var order in Model)
    {
        <tr>
            <td>@order.Number</td>
            <td>@order.Date</td>
            <td>@order.ProviderId</td>
            <td><a href="~Home/Edit/@order.Id">Edit</a></td>
            <td><a href="~Home/Delete/@order.Id">Delete</a></td>
        </tr>
    }
</table>
