@model OrderManager.Services.ApplicationContext
@{
    List<Order> sortedOrders = ViewBag.Orders;

    var orders = Model.Orders.ToList();
    var providers = Model.Providers.ToList();
    var orderItems = Model.OrderItems.ToList();

    var selOrdNumList = new SelectList(orders, "Id", "Number");
    var selOrdDateList = new SelectList(orders, "Id", "Date");
    var selProvNameList = new SelectList(providers, "Name", "Name");
    var selOrderItemNameList = new SelectList(orderItems, "Name", "Name");
    var selOrderItemUnitList = new SelectList(orderItems, "Unit", "Unit");
}


<form action="~/Home/Add/">
    <button class="btn-primary">Create order</button>
</form>

<hr />

<form method="post">
    <table>
        <tr>
            <th>
                Order Numbers
            </th>
            <th>
                Order Date
            </th>
            <th>
                Provider Name
            </th>
            <th>
                Order Item Name
            </th>
            <th>
                Order Item Unit
            </th>
        </tr>
        <tr>
            <td>
                <select id="example-getting-started" multiple size="3" asp-items="selOrdNumList" name="OrderNumbersId">
                </select>
            </td>
            <td>
                <select id="example-getting-started" multiple size="3" asp-items="selOrdDateList" name="OrderDatesId">
                </select>
            </td>
            <td>
                <select id="example-getting-started" multiple size="3" asp-items="selProvNameList" name="ProviderNames">
                </select>
            </td>
            <td>
                <select id="example-getting-started" multiple size="3" asp-items="selOrderItemNameList" name="OrderItemNames">
                </select>
            </td>
            <td>
                <select id="example-getting-started" multiple size="3" asp-items="selOrderItemUnitList" name="OrderItemUnits">
                </select>
            </td>
        </tr>
    </table>
    <input type="submit" value="Filter"/>
</form>

<hr />

<table>
    <tr>
        <th>Order number</th>
        <th>Date</th>
        <th>Provider</th>
    </tr>
    @foreach (var order in sortedOrders)
    {
        <tr onmousedown="~/Home/Show/@order">
            <td>@order.Number</td>
            <td>@order.Date</td>
            <td>@providers.First(x => x.Id == order.Provider.Id).Name</td>
            <td><a href="~/Home/Edit/@order.Id">Edit</a></td>
            <td><a href="~/Home/Delete/@order.Id">Delete</a></td>
        </tr>
    }
</table>